html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #000000, #150050, #3f0071, #fb2576);
  background-size: 900% 900%;
  animation: gradient 15s ease infinite;
  margin-bottom: 0;
}
/* Background Animation */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Grandstander", cursive;
  font-size: 3.5rem;
}
h2 {
  font-family: "Patrick Hand", cursive;
}

#front-page {
  color: azure;
  width: 50%;
  height: 600px;
  display: grid;
  margin: auto;
  margin-bottom: 0;
}

.title {
  padding: 10px;
  text-align: center;
  margin: auto;
}

/* Text Animation of works */

.works-animaton::before {
  content: "Developer";
  animation: animate infinite 5s;
  padding-left: 5px;
  font-family: "Patrick Hand", cursive;
}

@keyframes animate {
  0% {
    content: "Gamer";
  }

  50% {
    content: "Designer";
  }

  75% {
    content: "Editor";
  }
}
p {
  font-family: "Patrick Hand", cursive;
}
.second-page h1 {
  padding-bottom: 50px;
}
.second-page {
  margin-top: 3%;
  color: white;
  text-align: center;
  padding: auto 10%;
    background: linear-gradient(-45deg, #000000, #150050, #3f0071, #fb2576);
  background-size: 900% 900%;
  animation: gradient 15s ease infinite;
}
.discription {
  font-size: 2.5rem;
  padding: auto;
}

/* Skills */

.skills {
  margin-top: 270px;
  text-align: center;
  color: white;
    background: linear-gradient(-45deg, #000000, #150050, #3f0071, #fb2576);
  background-size: 900% 900%;
  animation: gradient 15s ease infinite;
}
.skills-title {
  margin-bottom: 5%;
}
.terminal-icon {
  font-size: 10rem;
  text-align: center;
}
.discription-skills {
  font-size: 1.7rem;
  margin: auto 10%;
}
.console {
  font-size: 10rem;
  text-align: center;
  margin-top: 2%;
}
.contact-me {
  padding-top: 20%;
    background: linear-gradient(-45deg, #000000, #150050, #3f0071, #fb2576);
  background-size: 900% 900%;
  animation: gradient 15s ease infinite;
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: "Grandstander", cursive;
  color: #e6e6e6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  text-decoration: none;
}
.copyright {
  color: #fff;
  font-size: 0.9rem;
  padding: 40px 20px 0;
}
.bottom-container {
  padding: 160px 0 20px;
  text-align: center;
  padding-bottom: 0;
}
a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 5px 20px 40px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
